@charset "UTF-8";

body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #D9A273,#363540);
    box-shadow: 5em;
    
}
h1{
    color: #A66953;
}
h2{
    color: #44A65C ;
}
#fav1{
    text-align: center;
    background-color: rgb(127, 197, 174);
    color:#F2E8B3;
}
.Y1{
    background-color: darkgrey;
    color: white;
}
.Y2{
    background-color: rgb(167, 130, 130);
    text-align: center;
    color: white;
}
.Y3{
    background-color: rgb(95, 82, 82);
    text-align: right;
    color: white;
}